header {
    color: #22e4da;
    font-family: Verdana, sans-serif;
}

body {
    margin: 10px 20px 20px 20px;
    background-color: lightgrey;
}

p {
    font-family:'Courier New', Courier, monospace
}